home_latitude: "{{ hass_docker_home_latitude }}"
home_longitude: "{{ hass_docker_home_longitude }}"
home_time_zone: "{{ hass_docker_home_timezone }}"

{% if hass_docker_recorder_db_url %}
recorder_db_url: "{{ hass_docker_recorder_db_url }}"
{% endif %}
